@media screen and (max-width: 768px) {

.mo-section02 {display: block;}
.mo-section03 {display: block;}
.mo-section04 {display: block;}
.mo-section05 {display: block;}
.mo-section06 {display: block;}
.mo-section07 {display: block;}
.mo-section08 {display: block;}
.mo-section09 {display: block;}
.mo-section10 {display: block;}
.mo-section11 {display: block;}
.section02 {display: none;}
.section03 {display: none;}
.section04 {display: none;}
.section05 {display: none;}
.section06 {display: none;}
.section07 {display: none;}
.section08 {display: none;}
.section09 {display: none;}
.section10 {display: none;}
.section11 {display: none;}

section {
  overflow: hidden;
}

/* --------------------- 플로팅 라벨 --------------------- */
/* --- 추가 및 수정된 CSS 코드 --- */
.mo-floating {
  position: fixed;
  z-index: 2;
  width: 95%;
  height: 5%;
  transform: translate(-50%, 0%);
  bottom: 5%;
  left: 50%;
  display: flex;

  /* 초기에는 숨겨두기 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

/* 10초 후 .show 클래스가 추가되면 보이게 함 */
.mo-floating.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

/* --- 기존 CSS 코드 (변동 없음) --- */
.mo-floating a {
  width: 33.3333%;
  height: 100%;
  text-decoration: none;
}
.flobtn {
  width: 100%;
  height: 10vw;
  background-color: #D7E3EC;
  border: 0.6vw solid #296998;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #296998;
  font-weight: 700;
  font-size: 4vw;
}

  /* 상단 메뉴바 -------------------------------------*/
.menu-list {
  display: none;
}
.menu-logo {
  /* border: 1px solid red; */
  left: 50%;
}
.pc-floating {
  display: none;
}
/* ---------------------- 섹션 01 영역 ----------------------------------- */
.section01 {
  position: relative;
  width: 100%;
  height: 90vw; /* 화면 높이에 맞춤 */
  overflow: hidden;
  display: flex;
}
.section01 video {
  filter: brightness(0.3);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* 내부 워딩 */
.section01-word {
  top: calc(50% + var(--menu-bar-height));
}
.section01-word-1 {
  font-size: 2.6vw;
  letter-spacing: -0.04vw;
}
.section01-word-2 {
  width: 45%;
  margin-top: 6%;
}
.section01-word-2 img {
  width: 100%;
}
.section01-word-3 {
  color: #fff;
  text-align: center;
  font-size: 1.6vw;
  letter-spacing: -0.04vw;
  font-weight: 350;
  margin-top: 4%;
  line-height: 2.5vw;
  width: 55%;
}

/* ---------------------- 섹션 02 영역 ----------------------------------- */

.mo-section02 {
  position: relative;
  width: 100%;
  max-height: 1000px;
  height: 130vw;
  background-color: #fff;
}

.mo-section02-word {
  position: absolute;
  transform: translate(-50%, -50%);
  top:28%;
  left: 50%;
  /* border: 1px solid red; */
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mo-section02-word-1 {
  color: #000;
  font-size: 5vw;
  font-weight: 700;
  line-height: 8vw;
  width: 100%;
}
.mo-section02-word-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0%;
  width: 50%;
}
.mo-section02-word-2 img {
  width: 100%;
}
.mo-section02-word-3 {
  width: 100%;
  font-size: 3.2vw;
  line-height: 4vw;
  color: #2E2E2E;
}


.section02-img {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  background: #fff;
}
/* 이미지 크기 맞추기 */
.swiper-slide img {
  width: 100%;
  align-items: center;
  height: auto;
  display: block;
  object-fit: contain;
}
.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.slider img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

/* ---------------------- 섹션 03 영역 ----------------------------------- */
.mo-section03 {
  position: relative;
  width: 100%;
  max-height: 2000px;
  height: 255vw;
  background-color: #DEE3E9;

  background-image: url(../images/pc/홈페이지/의료진\ 협진.png);
  background-repeat: no-repeat;
  background-size: 200% auto; /* 확대 */
  background-position: 100% center;
  background-attachment: fixed; /* 패럴럭스 느낌 */
}
.mo-section03-main-word {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 11%;
  left: 50%;
  width: 100%;
  text-align: center;
  /* border: 1px solid red; */
}
.mo-section03-main-word-1 {
  font-size: 3vw;
  color: #2e2e2e;
  letter-spacing: -0.04vw;
  font-weight: 600;
}
.mo-section03-main-word-2 {
  font-size: 6vw;
  font-weight: 700;
  color: #363636;
  letter-spacing: -0.1vw;
  line-height: 7vw;
  margin-top: 4%;
}
.mo-section03-main-word-2 span {
  color: #0A548A;
}

.mo-section03-img {
  position: absolute;
  transform: translate(-50%, 0%);
  bottom: 0%;
  left: 50%;
  width: 100%;
}
.mo-section03-img img {
  width: 100%;
}

/* ---------------------- 섹션 04 영역 ----------------------------------- */
.mo-section04 {
  position: relative;
  width: 100%;
  max-height: 4000px;
  height: 520vw;
  background-color: #2F6186;
}
.mo-section04-main {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 3.5%;
  left: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 3%;
}
.mo-section04-main-1 {
  color: #B9CEE1;
  font-size: 5vw;
  font-weight: 400;
}
.mo-section04-main-2 {
  color: #fff;
  font-size: 7vw;
  font-weight: 700;
}

.mo-section04-sub {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 52%;
  left: 50%;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sub04 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mo-section04-sub1 {
  /* border: 1px solid gold; */
  justify-content: space-between;
}
.mo-section04-sub2 {
  /* border: 1px solid red; */
  justify-content: space-between;
}

.mo-section04-sub-1 {
  width: 100%;
}
.mo-section04-sub-1 img {
  width: 100%;
}
.mo-section04-sub-2 {
  display: flex;
  flex-direction: column;
  font-size: 10vw;
  font-weight: 700;
  color: #DAF9FF;
  line-height: 10vw;
  margin-top: 5%;
}
.mo-section04-sub-2 span {
  color: #fff;
  font-size: 7vw;
  font-weight: 600;
}
.mo-section04-sub-3 {
  color: #fff;
  font-size: 4vw;
  margin-top: 3%;
  line-height: 5vw;
  margin-top: 5%;
}
.mo-section04-sub-3 span {
  color: #fff;
  font-weight: bolder;
}
.mo-section04-sub-4 {
  color: #2F6186;
  /* border: 1px solid red; */
  width: 62%;
  height: 3%;
  line-height: 3.2vw;
  font-size: 2.5vw;
  background: #fff;
  font-weight: 300;
  margin-top: 5%;
}
.mo-section04-sub-5 {
  color: #fff;
  font-size: 1.7vw;
}

.mo-section04-sub-22 {
  color: #fff;
  font-size: 5vw;
  line-height: 3vw;
  margin-top: 8%;
  font-weight: 600;
}
.mo-section04-sub-33 {
  color: #DAF9FF;
  font-size: 10vw;
  font-weight: 700;
}
.mo-section04-sub-44 {
  color: #fff;
  font-size: 3.8vw;
  line-height: 5vw;
  margin-top: 3%;
}
.mo-section04-sub-44 span {
  color: #fff;
  font-weight: bolder;
}

/* ---------------------- 섹션 05 영역 ----------------------------------- */
.mo-section05 {
  position: relative;
  width: 100%;
  max-height: 800px;
  height: 105vw;
  background-color: #fff;
}
.mo-section05-img-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 78%;
  left: 33%;
  width: 25%;
  /* border: 1px solid red; */
}
.mo-section05-img-1 img {
  width: 100%;
}
.mo-section05-img-2 {
  position: absolute;
  transform: translate(-50%, 0%);
  /* top: 50%; */
  bottom: 0%;
  left: 60%;
  width: 30%;
  /* border: 1px solid red; */
}
.mo-section05-img-2 img {
  width: 100%;
}


.mo-section05-word {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 28%;
  left: 50%;
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  /* border: 1px solid red; */
}
.mo-section05-word1 {
  color: #304758;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: -0.04vw;
  width: 100%;
}
.mo-section05-word2 {
  margin-top: 2.5%;
  width: 100%;
}
.mo-section05-word2 img {
  width: 60%;
}
.mo-section05-word3 {
  font-size: 3vw;
  letter-spacing: -0.04vw;
  width: 100%;
  font-weight: 400;
  line-height: 4.5vw;
  margin-top: 1%;
  color: #353535;
}

/* ---------------------- 섹션 06 영역 ----------------------------------- */
.mo-section06 {
  position: relative;
  width: 100%;
  max-height: 1500px;
  height: 170vw;
  background-color: #D4E7F9;
}
.mo-section06-word {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 8%;
  left: 35%;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 5vw;
  line-height: 6vw;
  font-weight: 600;
  color: #133147;
  letter-spacing: -0.08vw;
}
.mo-section06-word span {
  color: #0A548A;
}
.mo-section06-img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  /* border: 1px solid red; */
  width: 75%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mo-section06-img img {
  width: 40%;
}

/* ---------------------- 섹션 07 영역 ----------------------------------- */
.mo-section07 {
  position: relative;
  width: 100%;
  max-height: 800px;
  height: 105vw;
  background-color: #fff;
}
.mo-section07-word {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
  width: 90%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  text-align: center;
}
.mo-section07-word1 {
  color: #304758;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: -0.04vw;
  width: 100%;
}
.mo-section07-word2 {
  margin-top: 2.5%;
  width: 100%;
}
.mo-section07-word2 img {
  width: 63%;
}
.mo-section07-word3 {
  font-size: 3vw;
  letter-spacing: -0.04vw;
  width: 100%;
  font-weight: 400;
  line-height: 4vw;
  margin-top: 1%;
  color: #353535;
}

.mo-section07-img-1 {
  position: absolute;
  transform: translate(-50%, 0%);
  /* top: 50%; */
  bottom: 0%;
  left: 50%;
  width: 60%;
}
.mo-section07-img-1 img {
  width: 100%;
}
.mo-section07-img-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  width: 60%;
}
.mo-section07-img-2 img {
  width: 100%;
}

/* ---------------------- 섹션 08 영역 ----------------------------------- */
.mo-section08 {
  position: relative;
  width: 100%;
  max-height: 2000px;
  height: 300vw;
  background-color: #246290;
}
.mo-section08-word {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7%;
  left: 27.5%;
  color: #fff;
  font-size: 6vw;
  line-height: 7vw;
  font-weight: 600;
  letter-spacing: -0.08vw;
  text-align: center;
}

.mo-section08-compare {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  width: 55%;
  height: 65%;
  display: flex;
}
.mo-section08-compare-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 34%;
  left: 50%;
  width: 90%;
  height: 35%;
}
.mo-section08-compare-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  width: 90%;
  height: 35%;
}

.mo-compare {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.mo-compare img {
  width: 50%;
}
.mo-compare-box {
  width: 100%;
  height: 60%;
}
.mo-compare-box-inner {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mo-compare-box-1 {
  background-color: #fff;
  font-size: 4vw;
  font-weight: 700;
  color: #3d3d3d;
}
.mo-compare-box-inner-left-1 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 3vw;
  font-weight: 700;
  color: #2E2E2E;
  background-color: #D4E7F9;
}
.mo-compare-box-inner-right-1 {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 3vw;
  font-weight: 700;
  color: #2E2E2E;
  background-color: #D4E7F9;
}
.mo-compare-box-11 {
  background-color: #6FA8DC;
  font-size: 4vw;
  font-weight: 700;
  color: #fff;
}
.mo-compare-box-inner-left-2 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D8E2EA;
  font-size: 3vw;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}
.mo-compare-box-inner-right-2 {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D8E2EA;
  font-size: 3vw;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}

/* ---------------------- 섹션 09 영역 ----------------------------------- */
.mo-section09 {
  position: relative;
  width: 100%;
  max-height: 1200px;
  height: 150vw;
  background-color: #D7E3EC;
}
.mo-section09-word {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 8%;
  left: 21%;
  font-size: 6vw;
  line-height: 7.5vw;
  font-weight: 600;
  color: #133147;
  letter-spacing: -0.08vw;
  text-align: center;
}
.mo-section09-word span {
  color: #0A548A;
}
.mo-section09-img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 58%;
  left: 50%;
  width: 95%;
  height: 64%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mo-section09-img img {
  width: 49%;
}

/* ---------------------- 섹션 10 영역 ----------------------------------- */
.mo-section10 {
  position: relative;
  width: 100%;
  max-height: 900px;
  height: 118vw;
  background-color: #fff;
}

.mo-section10-word {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  align-items: center;
}
.mo-section10-word img {
  width: 100%;
}
.mo-section10-slide {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 90%;
  /* border: 1px solid red; */
  text-align: center;
}

.mo-section10-slide .swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* ---------------------- 섹션 11 영역 ----------------------------------- */
.mo-section11 {
  position: relative;
  width: 100%;
  max-height: 1800px;
  height: 240vw;
  background-color: #F2F5F9;
}
.mo-section11-word {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.08vw;
}
.mo-section11-word img {
  margin-top: 7%;
  width: 100%;
}

.mo-section11-img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 12%;
  left: 5%;
  width: 90%;
}
.mo-section11-img img {
  width: 100%;
}

.mo-section11-word-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 5%;
  width: 90%;
  height: 25%;
  background-color: #fff;
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mo-section11-word-1-1 {
  width: 95%;
  font-size: 5vw;
  font-weight: 700;
  height: 20%;
  display: flex;
  align-items: center;
}
.mo-section11-word-1-2 {
  width: 95%;
  height: 25%;
  border: 0.1vw  rgb(228, 228, 228) solid;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 3vw;
  padding-left: 3%;
  line-height: 4vw;
}
.mo-section11-word-1-3 {
  width: 95%;
  height: 35%;
  border: 0.1vw  rgb(228, 228, 228) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding-left: 3%;
  font-size: 2.5vw;
  padding: 3% 0% 20% 3%;
}
.mo-section11-word-1-3 b {
  width: 100%;
}

.mo-section11-word-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 67%;
  left: 5%;
  width: 90%;
  height: 30%;
  background-color: #fff;
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mo-section11-word-2-1 {
  width: 95%;
  font-size: 5vw;
  font-weight: 700;
  height: 20%;
  display: flex;
  align-items: center;
}
.mo-section11-word-2-2,
.mo-section11-word-2-3,
.mo-section11-word-2-4,
.mo-section11-word-2-5 {
  width: 95%;
  display: flex;
  height: 15%;
}
.mo-section11-word-2-6 {
  font-size: 3vw;
  width: 95%;
  font-weight: 500;
  /* height: 15%; */
  /* border: 1px solid red; */
}
.mo-section11-word-2-6 span {
  background-color: #D7E3EC;
  line-height: 7vw;
}
.mo-section11-word-2-left {
  border: 1px solid rgb(228, 228, 228);
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1%;
  font-size: 2.5vw;
  font-weight: 500;
}
.mo-section11-word-2-right {
  border: 1px solid rgb(228, 228, 228);
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1%;
  font-size: 2.5vw;
  font-weight: 500;
}
.sec11-word1 {letter-spacing: 4.7vw;}
.sec11-word2 {letter-spacing: 1.2vw;}
.sec11-word3 {letter-spacing: 1.2vw;}


/* ---------------------- 푸터 영역 ----------------------------------- */

/* ---------------------- 푸터 영역 ----------------------------------- */
footer {
  width: 100%;
  max-height: 250px;
  height: 33vw;
  background: #383838;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5vw;
}
footer span {
  color: #fff;
  font-size: 2.5vw;
  line-height: 4vw;
}


}